.single-hero {
    min-height: rem(525px);
    @include respond-below(lg){
        min-height: rem(425px);
    }
    @include respond-below(md){
        min-height: rem(400px);
    }
}
.post-detail-hero{
    margin-top: rem(-180px);
    @include respond-below(lg){
        margin-top: rem(-140px);
    }
    @include respond-below(md){
        margin-top: rem(-120px);
    }
    .blog-navigation {
        margin-top: rem(110px);
        margin-bottom: rem(90px);
        @include respond-below(xl){
            margin: rem(50px) 0;
        }
        @include respond-below(md){
            margin: rem(30px) 0 rem(50px) 0;
        }
        @include flex-center;
        h2{
            margin-bottom: 0;
            .btn{
                display: inline-block;
                margin: 0 rem(25px);
                &:focus{
                    border: none;
                }
                @include respond-below(lg){
                    margin: 0 rem(15px);
                }
            }
        }    
    }
    .pdh{
        &-wrapper{
            max-width: rem(1225px);
            margin: auto;
            padding: rem(50px) rem(120px) rem(30px);
            box-shadow: 0px 0px 25px 10px rgba($black ,0.18);
            border-radius: rem(50px);
            overflow: hidden;
            background: $white;
            z-index: 1;
            position: relative;
            @include respond-below(xl){
                padding: rem(50px) rem(50px) rem(30px);
                border-radius: rem(20px);
            }
            @include respond-below(lg){
                padding: rem(30px);
            }
            @include respond-below(sm){
                padding: rem(30px) rem(20px) rem(30px);
            }
            p {
                margin-bottom: rem(45px);
                @include respond-below(xl){
                    margin-bottom: rem(25px);
                }
            }
            .wrap-img {
                @include flex-center();
                img{
                    max-width: calc(100% + 240px);
                    flex: 0 0 calc(100% + 240px);
                    @include respond-below(xl){
                        max-width: calc(100% + 100px);
                        flex: 0 0 calc(100% + 100px);
                        margin: 0;
                    }
                    @include respond-below(lg){
                        max-width: calc(100% + 60px);
                        flex: 0 0 calc(100% + 60px);
                    }
                    @include respond-below(sm){
                        max-width: calc(100% + 40px);
                        flex: 0 0 calc(100% + 40px);
                    }
                }
            }
            h2{
                font-size:rem(46px);
                font-weight: 500;
                color: $secondary-200;
                margin-bottom: rem(45px);
                color: $secondary-800;
                line-height: 1.3;
                @include respond-below(xl3) {
                    font-size:rem(42px);
                }
                @include respond-below(xl) {
                    font-size:rem(34px);
                    margin-bottom: rem(30px);
                }
                @include respond-below(lg){
                    font-size:rem(24px);
                    margin-bottom: rem(15px);
                }
            }
            .h3{
                color: $secondary-200;
                margin-bottom: rem(45px);
                max-width: 90%;
                span{
                    color: $primary-100;
                    font-weight: 500;
                }
                @include respond-below(xl) {
                    margin-bottom: rem(30px);
                    max-width: 100%;
                }
                @include respond-below(lg){
                    margin-bottom: rem(15px);
                }
            }
            ul {
                margin-bottom: rem(45px);
                @include respond-below(xl){
                    margin-bottom: rem(25px);
                }
                li{
                    font-size: rem(22px);
                    @include respond-below(xl3){
                        font-size: rem(18px);
                    }
                }
            }
        }
        &-content{
            display: flex;
            justify-content: space-between;
            margin-bottom: rem(45px);
            @include respond-below(xl){
                margin-bottom: rem(20px);
            }
            .span{
                font-size: rem(15px);
            }
            .pdh-date{
                .pdh-auth{
                    span {
                        text-decoration: underline;
                    }
                }
            }
            .pdh-socialicon{
                ul{
                    display: flex;
                    margin-bottom: 0;
                    li {
                        list-style: none;
                        padding: 0;
                        margin: 0 rem(8px);
                        a {
                            color: $gray-300;
                            margin: 0;
                            transition: 0.3s all linear;
                            text-decoration: none;
                            font-size: rem(19px);
                            @include respond-below(md){
                                font-size: rem(16px);
                            }
                            &:hover {
                                color: $primary-100;
                            }
                        }
                        &:before {
                            content: unset;
                        }
                    }
                }
            }
            &-icon-wrapper{
                padding: 0;
                display: flex;
                margin: 0;
                position: absolute;
                top:rem(40px);
                right: rem(50px);
                @include respond-below(xl3){
                    top:rem(25px);
                }
            }
            
        }
    } 
}
