.downloadable-resources-faqs{
    background: transparent !important;
    &:before{
        display: none;
    }
    &.most-current-news{
        margin-top:0;
        padding-bottom: 0;
        &.mt-minus{
            margin-top: rem(-250px);
            margin-bottom: rem(30px);
            @include respond-below(xl){
                margin-top: rem(-230px);
            }
            @include respond-below(lg){
                margin-top: rem(-180px);
            }
            @include respond-below(md) {
                margin-top: rem(-150px);
            }
        }
        .tabs-content-wrap {
            box-shadow: none;
        }
        .fb-cat-row{
            padding-top: rem(22px);
            padding-bottom: rem(45px);
            .filterlist{
                &:before{
                    background: linear-gradient(90deg, rgba($white, 0) 0%, $white 113%);
                }
            }
            .filter-column{
                .checkbox-list{
                    padding-right: 0;
                }
            }
        }
        .faq-section{
                box-shadow: 0px 0px 25px 10px rgba($black , 0.18);
                .still-questions-wrapper {
                    margin: 0;
                    padding-bottom: rem(100px);
                    padding-left: rem(100px);
                    @include respond-below(xl3) {
                        padding-bottom: rem(50px);
                        padding-left: rem(50px);
                    }
                    @include respond-below(xl) {
                        padding-left: rem(30px);
                    }
                }
                @include respond-below(md) {
                    .tb-content{
                        padding-top: 0  ;
                    }
                    .sidebartab-dropdown {
                        display: none;
                    }
                    .tabs-nav{
                        display: block;
                        top: unset;
                        right: unset;
                        left: unset;
                        background: unset;
                        position: relative;
                        box-shadow: unset;
                        border: unset;
                        padding-left: 0;
                        border-bottom: 2px solid #bec2ce;
                        border-radius: unset;
                        margin-bottom: rem(20px);
                        h4 {
                            font-size: rem(24px);
                        }
                    }
                }
                
        }
    } 
}